
#canvas {
  display: block;
  margin: auto;
  padding: 20px;
}

#buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

#artContainer {
  width: 800px;
  height: 800px;
}

button {
  margin: 20px;
}

.pixelRow {
  display: block;
  min-width: 800px;
}

.pixel {
  border:none;
  display: inline-block;
}