
#canvas {
  display: block;
  margin: auto;
  padding: 20px;
}

#buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

#artContainer {
  max-width: 800px;
  min-width: 800px;
  max-height: 800px;
  min-height: 800px;
}

button {
  margin: 20px;
}

.pixelGridRow {
  min-width: 800px;
}

.pixel {
  display: inline-block;
}